body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
  }
  
  h1 {
    position: absolute;
    display: inline-block;
    top: 5vh;
    margin: 0 auto;
  }

  canvas {
    border: 3px solid #fff;
  }