@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&subset=latin-ext');

body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
  }
  
  h1 {
    position: absolute;
    display: inline-block;
    top: 5vh;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
  }

  canvas {
    border: 3px solid #fff;
  }